.Rproj.user
.Rhistory
.RData
.Ruserdata

.quarto/

# file types
~*.doc*
~*.xlsx
*.zip

# folders
_docs/
_freeze/
_web/
.quarto/

data/
!data_raw/
!for_mta/

master/_site/

pmt_model/data_for_mta/pmt_options_lookup_2025-04-24.xlsx

pmt_model/data_for_mta/pmt_options_lookup_simple_2025-04-24.xlsx

pmt_model/data_for_mta/pmt_options_lookup_v2_2025-04-24.xlsx

pmt_model/data_for_mta/test2.xlsx

*.png

pmt_model/qcew_vs_tax_payments_files/libs/bootstrap/

pmt_model/qcew_vs_tax_payments_files/libs/quarto-html/

pmt_model/qcew_vs_tax_payments_files/libs/clipboard/
